nav{
    height: 4rem;
    background-color: purple;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 0 2rem;
}

nav ul li{
    margin: 0;
    padding: 0;
    cursor: pointer;
    color: orange;
}

nav ul li:hover{
    color: orangered;
}